# .env file sample
# only .dev.env and .prod.env files are respected

REACT_APP_API_BASE_URL='https://catman-edu.com/api'
REACT_APP_API_ACCEPT_LANGUAGE=ru

REACT_APP_WEB_UI_REPO_LINK='https://github.com/catman0745/catman-edu-webui'

REACT_APP_API_REPO_LINK='https://github.com/catman0745/Catman.Education'
REACT_APP_SUPPORTED_API_VERSION=4.3.8
REACT_APP_SUPPORTED_API_VERSION_REPO_LINK='https://github.com/catman0745/Catman.Education/tree/28a448ac8f1b783e090685b5a66fc910e4217b24'
